#books-main-div, #books-loggedIn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    border: 1px solid lightgrey;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
        p {
            font-size: 1rem;
        }
}

#books-main-div h3, #books-loggedIn-div h3 {
    font-size: 2.5rem;
    text-shadow: 1.5px 1.5px 0px #5d8ffc;
    font-weight: 700;
}

#books-main-div input {
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    background: #fff;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
    &:focus {
        border: 1px solid #777;
    }
}

#loginBtn, #logoutBtn, #googleLoginBtn {
    background: $accentBlue;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s ease;
    &:hover {
        background: #fff;
        color: $accentBlue;
        border: 1px solid $accentBlue;
    }
}

#signUpBtn {
    background: #fff;
    color: $accentBlue;;
    border: 1px solid $accentBlue;
    border-radius: 5px;
    margin-top: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s ease;
    &:hover {
        background: $accentBlue;;
        color: #fff;
        border: 1px solid #fff;
    }
}

#googleLoginBtn {
    background: tomato;
    margin-top: 5px;
    &:hover {
        color: tomato;
        border: 1px solid tomato;
    }
}

